<h1>Instances</h1>
<table class="table table-striped table-hover" id="data_table" data-pagination="true" data-search="true" <%= "data-search-text=" + params[:search] if !params[:search].blank?%>>
  <thead>
    <tr>
      <th>Account ID</th>
      <th>Instance ID</th>
      <th>Instance type</th>
      <th>Availability Zone</th>
      <th>Tenancy</th>
      <th>Platform</th>
      <th>Network</th>
    </tr>
  </thead>
  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.accountid %></td>
        <td><%= instance.instanceid %></td>
        <td><%= instance.instancetype %></td>
        <td><%= instance.az %></td>
        <td><%= instance.tenancy %></td>
        <td><%= instance.platform %></td>
        <td><%= instance.network %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(function () {
    $('#data_table').bootstrapTable({showExport: true});
            });
</script>
