<h1>Reserved Instances</h1>

<table class="table table-striped table-hover" id="data_table" data-pagination="true" data-search="true">
  <thead>
    <tr>
      <th>Account ID</th>
      <th>Reservation ID</th>
      <th>Instance type</th>
      <th>Availability Zone</th>
      <th>Tenancy</th>
      <th>Platform</th>
      <th>Network</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @reserved_instances.each do |ri_id, ri| %>
      <tr>
        <td><%= ri[:account_id] %></td>
        <td><%= ri_id %></td>
        <td><%= ri[:type] %></td>
        <td><%= ri[:az] %></td>
        <td><%= ri[:tenancy] %></td>
        <td><%= ri[:platform] %></td>
        <td><%= ri[:vpc] %></td>
        <td><%= ri[:count] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(function () {
        $('#data_table').bootstrapTable();
            });
</script>
