<h1>Reserved Instances</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Account ID</th>
      <th>Reserve ID</th>
      <th>Instance type</th>
      <th>Availability Zone</th>
      <th>Tenancy</th>
      <th>Platform</th>
      <th>Network</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @reserved_instances.each do |ri_id, ri| %>
      <tr>
        <td><%= ri[:account_id] %></td>
        <td><%= ri_id %></td>
        <td><%= ri[:type] %></td>
        <td><%= ri[:az] %></td>
        <td><%= ri[:tenancy] %></td>
        <td><%= ri[:platform].blank?  ? "linux" : ri[:platform] %></td>
        <td><%= ri[:vpc].blank?  ? "EC2 Classic" : "VPC" %></td>
        <td><%= ri[:count] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

