<h1>Summary</h1>

<table class="table table-striped table-hover" id="data_table" data-pagination="true" data-search="true" data-row-style="rowStyle" <%= "data-search-text=" + params[:search] if !params[:search].blank?%>>
    <thead>
      <tr>
        <th>Instance type</th>
        <th>Availability Zone</th>
        <th>Platform</th>
        <th>Tenancy</th>
        <th>Total Instances</th>
        <th>Total Reservations</th>
      </tr>
    </thead>
    <tbody>
      <% @summary.each do |s| %>
        <tr>
          <td><%= s.instancetype %></td>
          <td><%= s.az %></td>
          <td><%= s.platform %></td>
          <td><%= s.tenancy %></td>
          <td><%= s.total %></td>
          <td><%= s.reservations %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<h2>Legend</h2>
<table class="table table-striped table-hover" id="legend_table">
  <thead>
    <tr>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr class='warning'>
      <td>There are more instances than reserved instances. Opportunity to move other reserved instances to this class or buy new RIs</td>
    </tr>
    <tr class='danger'>
      <td>There are more reserved instances than instances. Opportunity to move reserved instances to other class</td>
    </tr>
  </tbody>
</table>

<script type="text/javascript">
$(function () {
    $('#data_table').bootstrapTable({showExport: true});
    $('#legend_table').bootstrapTable({showHeader: false});
    });

function rowStyle(row, index) {
  inst = parseInt(row[4]);
  reserv = parseInt(row[5]);

  if (inst > reserv) {
    return { classes: 'warning' };
  }
  if (reserv > inst) {
    return { classes: 'danger' };
  }
  return {};
}
</script>
