<h1>Applied recommendations log</h1>
<table class="table table-striped table-hover" id="data_table" data-pagination="true" data-search="true">
  <thead>
    <tr>
      <th>Account ID</th>
      <th>Reservation ID</th>
      <th>Count</th>
      <th>New type</th>
      <th>New availability zone</th>
      <th>New network</th>
      <th>Time applied</th>
    </tr>
  </thead>
  <tbody>
    <% @recommendations.each do |recommendation| %>
      <tr>
        <td><%= recommendation.accountid %></td>
        <td><%= recommendation.rid %></td>
        <td><%= recommendation.count %></td>
        <td><%= recommendation.instancetype %></td>
        <td><%= recommendation.az %></td>
        <td><%= recommendation.vpc %></td>
        <td><%= recommendation.timestamp %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(function () {
        $('#data_table').bootstrapTable();
            });
</script>
