<h1>General log</h1>
<table class="table table-striped table-hover" id="data_table" data-pagination="true" data-search="true">
  <thead>
    <tr>
      <th>Account ID</th>
      <th>Reservation ID</th>
      <th>Count</th>
      <th>New type</th>
      <th>New availability zone</th>
      <th>Time applied</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% @recommendations.each do |recommendation| %>
      <tr>
        <td><%= recommendation.accountid %></td>
        <td><%= recommendation.rid %></td>
        <td><%= recommendation.counts %></td>
        <td><%= recommendation.instancetype %></td>
        <td><%= recommendation.az %></td>
        <td><%= recommendation.timestamp %></td>
        <td><%= @failed_recommendations.find_by(modificationid: recommendation.rid) ? '<span class="glyphicon glyphicon-remove" style="color:red"></span>'.html_safe : '<span class="glyphicon glyphicon-ok" style="color:green"></span>'.html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(function () {
    $('#data_table').bootstrapTable({showExport: true});
            });
</script>
