<h1>Recommendations</h1>

<table class="table table-striped table-hover" id="recommendations_table" data-click-to-select="true">
  <thead>
    <tr>
      <th data-field="state" data-checkbox="true"></th>
      <th>Change number</th>
      <th>Reservation ID</th>
      <th>Orig Count</th>
      <th>New Count</th>
      <th>New type</th>
      <th>New availability zone</th>
    </tr>
  </thead>
  <tbody>
  <% i= 0 %>
  <% @recommendations.each do |recommendation| %>
    <% recommendation_ids = []
      recommendation_counts = []
      recommendation_orig_counts = []
      recommendation_types = []
      recommendation_azs = []
      recommendation_vpcs = []
      recommendation.each do |element|
        recommendation_ids << "<a href='reservedinstances?search=#{element[:rid]}'>#{element[:rid]}</a>"
        recommendation_counts << element[:count]
        recommendation_orig_counts << element[:orig_count]
        recommendation_types << element[:type]
        recommendation_azs << element[:az]
        recommendation_vpcs << element[:vpc]
      end %>
      
    <tr>
      <td></td>
      <td><%= i %></td>
      <% i += 1 %>
      <td><%= recommendation_ids.join(",").html_safe() %></td>
      <td><%= recommendation_orig_counts.join(",") %></td>
      <td><%= recommendation_counts.join(",") %></td>
      <td><%= recommendation_types.join(",") %></td>
      <td><%= recommendation_azs.join(",") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</br>
<button id="apply" class="btn btn-default" href="#" role="button">Apply recommendations</button>

<%= form_tag(apply_recommendations_path, id: 'send_data') do %>
  <input type="hidden" id="recommendations" name="recommendations" value=""/>
  <input type="hidden" id="recommendations_original" name="recommendations_original" value='<%= @recommendations.to_json %>'/>
<% end %>

<script type="text/javascript">
$(function () {
    $('#recommendations_table').bootstrapTable({showExport: true});
    $('#apply').click(function () {
      var sel = $('#recommendations_table').bootstrapTable('getSelections');
      if (sel.length > 0) {
        values = [];
        sel.forEach(function(entry) {
          values.push(entry[1]);
          });

        $('#recommendations').val(values.join(","));
        $('#send_data').submit();
        };
      });
    });
</script>

