<div>
  <h1>Setup</h1>
  <%= form_tag(change_setup_path) do %>
    <div class="form-group">
      <label>Regions in use</label></br>
      <% @regions.keys.each do |region| %>
        <label class="checkbox-inline">
          <%= check_box_tag "regions[#{region}]", region, @regions[region] %>
          <%= region %>
        </label>
      <% end %>
    </div>
    <div class="form-group">
      <label>Automatically apply recommendations each</label></br>
      <div class="col-xs-2"><%= text_field_tag "minutes", @minutes.to_s, class: 'form-control' %></div><span id="helpBlock" class="help-block">minutes (0 to stop)</span>
    </div>
    <%= submit_tag("Save", class: 'btn btn-default') %>
  <% end %>

</div>
